.transport_cfr_locale .o_form_label:nth-last-child(2),.transport_cfr_locale .o_td_label:nth-last-child(2){
width:6em !important;
min-width:6em !important;
}
.wsnw{
    // wrap long text so that it doesn't overflow
    white-space: normal !important;
}